parameters:
	level: 6
	tmpDir: .phpstan.cache
	paths:
		- packages/amphp-pool/src
		- packages/amphp-engine/src
		- packages/amphp-logger/src
		- packages/amphp-web-server/src
		- packages/application/src
		- packages/async-contracts/src
		- packages/codestyle/src
		- packages/configuator-toml/src
		- packages/configurator-ini/src
		- packages/console/src
		- packages/design-patterns/src
		- packages/di/src
		- packages/events/src
		- packages/monolog/src
		- packages/os-utilities/src
		#- packages/package-installer/src
		- packages/php-open-telemetry/src
		- packages/protocol-contracts/src
		- packages/rest-api/src
		- packages/service-manager/src
		- packages/swoole-engine/src
		- packages/type-definitions/src
		- packages/user-manager/src
	tips:
		treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: instanceof.alwaysTrue
		#- identifier: instanceof.alwaysFalse
		- identifier: identical.alwaysFalse
		- identifier: nullsafe.neverNull
		- identifier: argument.type
		- identifier: deadCode.unreachable
		- identifier: catch.neverThrown
		- identifier: new.static
		- identifier: trait.unused
		- identifier: nullCoalesce.expr
		- identifier: identical.alwaysTrue
		- identifier: notIdentical.alwaysTrue
		- identifier: notIdentical.alwaysFalse
		- identifier: finally.exitPoint
		- identifier: property.unusedType
		- identifier: property.unused
		- identifier: property.onlyWritten
		- identifier: property.uninitializedReadonly
		- identifier: match.alwaysTrue
		- identifier: function.impossibleType
		- identifier: argument.templateType
		- identifier: assign.propertyType
		- identifier: generics.notSubtype
		- identifier: cast.string
		- identifier: offsetAccess.invalidOffset
		- identifier: unset.offset
		# - '#Strict comparison using === between true and false will always evaluate to false#'
